{% extends "base.html" %}
{% block content%}

  <h2> {{ book.name }} </h2>
  <br>
  <b> Author: </b> {{ book.author }}
  <br>
  <b> Genre: </b> {{ genre.name }}
  <br>
  <p>
  <b> Description: </b> {{ book.description }}
  </p>
  <img src="{{book.cover}}" alt="{{book.name}}" width=200px height=300px>
  <br>
  Added by :
  <img src="{{creator.picture}}" alt="{{creator.name}}" width=50px height=50px>
  {{creator.name}}
  <br>
  <br>
  <a href="/book/{{book.id}}/edit/"> Edit this book </a>
  <br>
  <a href="/book/{{book.id}}/delete/"> Delete this book </a>

{% endblock %}
